// color definitions
$navbarBackgroundColor: $defBackgroundColor;
// $navbarForegroundColor: #bbf2c0;
$navbarForegroundColor: #EDEDED;

// $navbarShadow: 0 0.5em 1em $navbarBackgroundColor;
$navbarShadow: none;

// size definitions
$navbarHeight: 3rem;
